<div class="d-flex justify-content-center mt-5">
  <div class="col-12 col-md-4">
    <div class="card shadow-sm">

      <div class="card-header bg-success text-light">
        <h5 class="text-center mb-0"><i class="bi bi-shield-lock"></i> Nueva contraseña</h5>
      </div>

      <div class="card-body">

        {{#if error}}
          <div class="alert alert-danger py-2"><i class="bi bi-exclamation-circle"></i> {{error}}</div>
        {{/if}}

        <form action="/auth/reset-password" method="POST">
          <input type="hidden" name="passwordToken" value="{{passwordToken}}" />
          <input type="hidden" name="userId" value="{{userId}}" />

          <div class="mb-3">
            <label for="password" class="form-label">Nueva contraseña:</label>
            <input type="password" class="form-control" id="password" name="password" required />
          </div>

          <div class="mb-3">
            <label for="confirmPassword" class="form-label">Confirmar contraseña:</label>
            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required />
          </div>

          <div>
            <button type="submit" class="btn btn-success float-end"><i class="bi bi-floppy"></i> Guardar</button>
            <a href="/auth/login" class="btn btn-warning float-end me-2"><i class="bi bi-arrow-left"></i> Volver</a>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>